/* - Questions -  */
#question-txt {
	background-color: rgba(255, 255, 255, 0.829);
	color: black;
	min-width: 85%;
	max-width: 95%;
	text-align: center;
	border-radius: 15px;
	padding: 15px 15px;
}

#extra-questions .col {
	display: flex;
}

.question-option {
	opacity: 60%;
}

.selected-question {
	transform: scale(1.1);
	opacity: 100%;
}

.selected-question:hover {
	transform: scale(1.1);
}

/* - Players -  */
.player {
	opacity: 60%;
}

.player:hover,
.player:active {
	cursor: default !important;
	background-color: #0d6efd !important;
	border-color: #0d6efd !important;
}

.current-player {
	opacity: 100%;
	background: yellow;
	border-width: 3px;
	border-color: rgb(102, 102, 31);
	color: black;
}

.current-player:hover,
.current-player:active {
	transform: none;
	background: yellow !important;
	border-color: rgb(102, 102, 31) !important;
	color: black !important;
}

/* 
    =============================
    Responsiv for phones  
    =============================
*/
@media (max-width: 576px) {
	#questions {
		width: 100%;
	}
}
