/* - General styles -  */
html {
    overflow-x: hidden;
    touch-action: pan-y;
}

body {
    background-color: #3d1e3d;
    color: white;

}

#main {
    height: 85.8vh;
    min-height: 750px;
}

#footer {
    height: 9vh;
    min-height: 72px;
}


/*  - Buttons - */
.btn-lg {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    border-radius: 1rem;
}

.btn-hover {
    transition: 0.3s;
}

.btn-hover:hover {
    transform: scale(1.05);
}

.disabled-button {
    opacity: 40%;
}

/*  - Form - */
#players-names {
    resize: none;
}

/*  - Load session menu - */
.saved-session {
    background-color: rgba(223, 223, 223, 0.6);
    border-radius: 8px;
    color: #1c1c1c;
    width: 70%;
    padding: 15px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.saved-session:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: rgba(223, 223, 223, 0.726);
    cursor: pointer;
}

.saved-session p {
    margin: 4px 0;
    font-family: 'Lucida Console', Monaco, monospace;
}

.selected-saved-session {
    transform: scale(1.02) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    background-color: rgba(235, 235, 235, 0.829) !important;
}

.session-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 15px;
}

#saved-sessions {
    background-color: rgba(119, 116, 116, 0.432);
    border-radius: 5px;
    margin: 0 auto;
    min-height: 300px;
    height: 40vh;
    overflow-y: scroll;
    width: 70%;
}

#saved-sessions-list {
    width: 100%;
}

/* - Menus - */
.menu,
.create-session,
.load-session {
    transition: 0.7s;
    position: absolute;
    width: 100%;
    text-align: center;
}

.session-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 1rem;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.menu {
    top: 378px;
}

.create-session {
    transform: translateX(-100%);
    top: 252px;
}

.load-session {
    transform: translateX(100%);
    top: 243px;
}

/* - Move off-screen (right) - */
.slide-out-right {
    transform: translateX(100%);
}

/* - Move off-screen (left) - */
.slide-out-left {
    transform: translateX(-100%);
}

/* - Bring layer to the center - */
.slide-in {
    transform: translateX(0);
}

/* 
    =============================
    Responsiv for tablets  
    =============================
*/
@media (max-width: 1024px) {
    .filter {
        padding: 1.2rem;
    }

    .saved-session {
        width: 90%;
    }

}

/* 
    =============================
    Responsiv for smaller tablets
    =============================
*/
@media (max-width: 767px) {
    .filter {
        padding: 1rem 2.8rem;
    }

    #main {
        min-height: 960px;
    }

    #saved-sessions {
        height: 500px;
        width: 90%;
    }
}


/* 
    =============================
    Responsiv for phones
    =============================
*/
@media (max-width: 576px) {
    #main {
        min-height: 1150px;
    }

    #saved-sessions {
        width: 100%;
        height: 600px;
    }

    .session-btn {
        position: absolute;
        top: 5px;
        height: 40px;
        width: 40px;
    }

    .session-box {
        width: 85%;
        padding: 1rem;
    }

    #filters {
        flex-direction: column;
    }

    .session-box {
        margin-top: 30px;
    }
}