/* Página que ocupa el 100% de la pantalla */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: #3d1e3d;
    color: white;
    overflow-x: hidden;
}

.btn-lg {
    padding: 1rem 2.5rem;
    font-size: 1.25rem;
    border-radius: 1rem;
}

.btn-hover {
    transition: 0.3s;
}

.btn-hover:hover {
    transform: scale(1.05);
}

.menu, .create-session, .load-session {
    transition: 0.7s;
    position: absolute;
    top: 43%;
    width: 100%;
    text-align: center;
}

.session-box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 1rem;
    width: 70%;
    margin: 0 auto;
}

.create-session {
    transform: translateX(-100%);
    top: 31%;
}

.load-session {
    transform: translateX(100%);
}

/* Llevar fuera de la pantalla (derecha) */
.slide-out-right {
    transform: translateX(100%);
}

/* Llevar fuera de la pantalla (izquierda) */
    .slide-out-left {
    transform: translateX(-100%);
}

/* Llevar capa al medio */
.slide-in {
    transform: translateX(0);
}

/* Opcion deshabilitada */
.disabled-button {
    opacity: 40%;
}